@{
    ViewData["Title"] = "Server Error Page";
}

<div id="page-homepage">
    <div class="container container-wide flex flex-col items-start gap-x-10 gap-y-1 sm:flex-row sm:items-end">
        <div class="max-w-prose flex-1">
            <h1 class="text-pretty">404</h1>
            <p>Something went wrong. Please try again later.</p>
        </div>
    </div>
</div>