<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Astro description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="generator" content="Astro v4.5.5">
    <title>Home page</title>

    <!--
    //////////////////////////
    1. All stylesheet tags in <head> below should be replaced with `/bundle.css`.
    2. The inline <style> with astro stuff in the <body> should be replaced with `/astro-bootstrap.css`.
      3. The inline <script> with astro stuff in the <body> tag should be replaced with `/astro-bootstrap.min.js`.
      4. Other script tags in <head> should remain, and would be placed after `astro-bootstrap.min.js`.

      Here are the assets to add to your <head>:
        <link rel="stylesheet" href="/astro-bootstrap.css" />
        <link rel="stylesheet" href="/bundle.css" />
        <script src="/astro-boostrap.min.js"></script>
        <script type="module" src="/scripts/hoisted.js"></script>
        [ ...other script tags ]
      //////////////////////////
      -->
    <link rel="stylesheet" href="/assets/style-CPUQbmom.css"/>
    <link rel="stylesheet" href="/assets/style-DXC0vmUU.css"/>

    <script type="module" src="/scripts/hoisted.js"></script>
</head>
<body>

<script src="//kit.fontawesome.com/0c8ff566c8.js" crossorigin="anonymous"></script>

<vc:page-header/>

@RenderBody()

<vc:page-footer acknowledgement-copy="We acknowledge the Traditional Owners of Country throughout Australia and New Zealand and recognise their continuing connection to land, waters and culture. We pay our respects to their Elders past, present and emerging."/>

</body>
</html>