@model DVTN.Frontend.Web.Features.HomePage.HomePageViewModel

<div id="page-homepage">

    <vc:page-hero hero-text="We design and deliver the complex infrastructure needed to build better communities" is-full-size="true"/>
    
    @* TODO render components here *@
    
</div>